{% extends "layout.html" %}
{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
<!--     {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %} -->
    <p>{{messages[-1]}}</p>
  {% endif %}
{% endwith %}


{% if type == "song" %}
	<form enctype="multipart/form-data"  class="state-form"  method="POST">
  <hr>Song
  <hr>
  <div class="form-group">
    <label >ID</label>
    <input  hidden type="text" name="type" value = "song" >
    <input type="number" class="form-control" name="id" placeholder="Enter Song ID" value = "{{id if id}}" required>
        <label >Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter Song Name" required maxlength = "100" >
    <label >Duration of Song</label>
    <input type="number" class="form-control" name="duration" placeholder="Enter Duration in mintues" required min = "0">
    <input name="audio" id = "audio" accept="audio/*" title="Upload File" type="file" required="">

  </div>
<button type="submit">Upload File</button>

</form>
{% endif %}

{% if type == "podcast" %}
<form enctype="multipart/form-data" class="state-form" method="POST">

  <hr> Podcast
  <hr>
  <div class="form-group">
    <label >ID</label>
    <input  hidden type="text" name="type" value = "podcast">
    <input type="number" class="form-control" name="id" placeholder="Enter Podcast ID"  value = "{{id if id}}" required >
        <label >Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter Podcast Name" required maxlength = "100">
    <label >Duration of Podcast</label>
    <input type="number" class="form-control" name="duration" placeholder="Enter Duration in mintues" required min = "0">

        <label >Host</label>
    <input type="text" class="form-control" name="host" placeholder="Enter Host Name" required maxlength = "100">
        <label >Participants</label>
    <input type="textarea" class="form-control" name="participants" placeholder="Enter Participants Name" maxlength = "100">
    <input name="audio"  id="audio" accept="audio/*" title="Upload File" type="file">

  </div>
  <button type="submit">Upload File</button>

</form>
{% endif %}

{% if type == "audiobook" %}
<form enctype="multipart/form-data" class="state-form" method="POST">

  <hr> AudioBook
  <hr>
  <div class="form-group">
    <label >ID</label>
    <input  hidden type="text" name="type" value = "audiobook">
    <input type="number" class="form-control" name="id" placeholder="Enter audiobook ID" value = "{{id if id}}" required>
        <label >Title</label>
    <input type="text" class="form-control" name="name" placeholder="Enter Title Name" required maxlength = "100">
        <label >Author</label>
    <input type="text" class="form-control" name="author" placeholder="Enter Author Name" required maxlength = "100">

        <label >Narrator</label>
    <input type="text" class="form-control" name="narrator" placeholder="Enter Host Name" required maxlength = "100">
        <label >Duration of Audiobook</label>
    <input type="number" class="form-control" name="duration" placeholder="Enter Duration in seconds" required min = "0">
    <input name="audio"  id="audio" accept="audio/*" title="Upload File" type="file">

  </div>
  <button type="submit">Upload File</button>

</form>
{% endif %}

  </div>
  <table>
      </th>
	</tr>
			<tr align="center">
				<th >
					  
				</th>
			</tr>
</table>

<script type="text/javascript">
$("#state").change(function() {
  let state = this.value; //get state

  $('.state-form').hide(); //hide all forms

  $("#form-" + state).show(); //show only related form
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	{% endblock %}







